@font-face {
  font-family: 'poppinsmedium';
  src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
    url('../fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinssemibold';
  src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
    url('../fonts/poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: rgba(255, 255, 255, 0.55);
  --title-color: rgba(255, 255, 255, 0.9);    
  --bg-color: #1E252B;      
  --button-color: #FF6E30;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);   
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 20px;
}

/**********HEADER**********/
.header {
  padding: 26px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 101px;
}

.logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__img {
  margin-right: 12px;
}

.logo__text {
  font-family: 'poppinssemibold';
  font-size: 22px;
  color: var(--title-color);
}

.header__nav {
  margin-right: 10px;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  position: relative;
  cursor: pointer;
}

.nav__item:hover .nav__link {
  color: var(--button-color);
}

.nav__item:hover .nav__sublist {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.drop-down {
  padding-right: 18px;
}

.drop-down::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  width: 4px;
  height: 4px;
  border: 2px solid var(--main-color);
  border-bottom: none;
  border-left: none;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);    
}

.nav__item:hover.drop-down::after {
  border-color: var(--button-color);  
}

.nav__link {
  font-family: 'poppinsmedium';
  font-size: 16px;
  color: var(--main-color);
  text-decoration: none;
}

.nav__sublist {
  position: absolute; 
  display: none;
  flex-direction: column;
  align-items: center;  
  padding: 10px 0;
  background-color: #283036;;
  list-style: none;
}

.sublist__item:not(:last-child) {
  margin-bottom: 5px;
}

.sublist__link {
  padding: 10px;
  font-family: 'poppinsregular';
  font-size: 14px;
  color: #FFA537;
  text-decoration: none;
  white-space: nowrap;
}

.header__identification {
  display: flex;
  align-items: center;
}

.identification__button {
  padding: 16px 28px;
  font-family: 'poppinsmedium';
  font-size: 16px;    
  color: rgba(255, 255, 255, 0.78);
  text-decoration: none;
}

.identification__button:not(:last-child) {
  margin-right: 14px;
}

.identification__button:hover {  
  color: #FDF5FF;
  background-color: var(--button-color);
  border-radius: 8px;
} 

/**********HERO**********/
.hero {    
  padding: 81px 0 80px;
}

.hero__wrapper {  
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero__illustration {
  position: absolute;
  bottom: 0;
  right: -85px;  
  width: 589px;
  height: 568px;
  background-image: url("../img/illustration.png");
  background-repeat: no-repeat;  
}

.hero__title {
  margin-bottom: 28px;
  max-width: 600px;
  font-family: 'poppinsmedium';
  font-size: 50px;
  line-height: 140%;
  color: var(--title-color);
}

.hero__title_orange {
  color: var(--button-color);
}

.hero__text {
  margin-bottom: 56px;
  max-width: 485px;
  font-family: 'poppinsregular';
  font-size: 18px;
  line-height: 30px;
  color: var(--main-color);  
}

.hero__form {
  position: relative;
  margin-bottom: 121px;
  width: fit-content;  
}

.hero__input {    
  margin: 0;
  padding: 26px 154px 26px 55px;
  width: 498px;
  border: none;
  border-radius: 15px;
  background-color: #283036;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 19px 21px;
  outline: none;
}

input[placeholder] {
  font-family: 'poppinsregular';
  font-size: 14px;          
  color: rgba(255, 255, 255, 0.38);
}

input::-moz-placeholder {
  font-family: 'poppinsregular';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38);
}

input:-moz-placeholder {
  font-family: 'poppinsregular';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38);
}

input:-ms-input-placeholder {
  font-family: 'poppinsregular';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38);
}

.hero__button {
  position: absolute;
  top: 11px;
  right: 11px;  
  padding: 16px 36px 16px 38px;
  border: none;
  border-radius: 8px;
  font-family: 'poppinssemibold';
  font-size: 16px;
  color: #FFFFFF;
  background-color: var(--button-color);
  cursor: pointer;
}

.hero__button:hover {
  opacity: .8;
}

.hero__social-list {
  margin-bottom: 7px;
  margin-left: 13px;
  display: flex;
  align-items: center;  
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  text-decoration: none;
}

.social__link:hover .social__icon {  
  filter: invert(50%) sepia(14%) saturate(3427%) hue-rotate(334deg) brightness(107%) contrast(106%);
}

/**********POPULAR**********/
.popular {
  margin-bottom: 115px;
  padding: 130px 0 80px;
}

.popular__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
}

.popular__title {  
  margin-bottom: 30px;
  font-family: 'poppinsmedium';
  font-size: 48px;
  color: var(--title-color);
}

.popular__text {  
  max-width: 430px;
  font-family: 'poppinsmedium';
  font-size: 18px;
  color: var(--main-color);
  line-height: 30px;
  text-align: center;  
}

.popular__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  list-style: none;
}

.card {
  position: relative;
  margin-bottom: 97px;
  max-width: 392px;
  padding: 33px;
  cursor: pointer;
  overflow: hidden;
}

.card__ellipse {
  position: absolute;
  top: -6px;
  right: 16px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 110, 48, 0.6);
  filter: blur(40px); 
}

.card:hover {
  background-color: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 15px;
  transform: translateY(-20px);
}

.card:hover .card__ellipse {
  display: block;
}

.card__wrapper {
  display: flex;
  margin-bottom: 33px;
}

.card__logo {
  margin-right: 30px;
}

.card__info {
  margin-top: 6px;
}

.card__title {
  margin-bottom: 14px;
  font-family: 'poppinsmedium';
  font-size: 24px;    
  color: rgba(255, 255, 255, 0.78);
}

.card__services {
  font-family: 'poppinsregular';
  font-size: 18px;    
  color: #FFA537;
}

.card__text {
  margin-bottom: 30px;
  font-family: 'poppinsregular';
  font-size: 16px;
  color: var(--main-color);
  line-height: 30px;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.buttons__social {
  display: flex;
  align-items: center;
}

.button__link {
  text-decoration: none;
}

.like {  
  margin-right: 18px;
  padding: 7px;  
}

.button__visit {  
  padding: 12px 35px;
  font-family: 'poppinssemibold';
  font-size: 16px;
  color: var(--main-color);
  text-decoration: none;
}

.card:hover .button__visit {  
  color: #FFFFFF;
  background-color: var(--button-color);
  border-radius: 8px;
}

.card:hover .like {    
  background: #283036;
  box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;  
}

.card:hover .button__like {  
  filter: brightness(0) saturate(100%) invert(32%) sepia(63%) saturate(1540%) hue-rotate(327deg) brightness(102%) contrast(112%);
}

.popular__button {
  margin: 0 auto;
  padding: 21px 38px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-family: 'poppinsmedium';
  font-size: 20px;
  color: var(--button-color);  
  text-decoration: none;
}

.popular__button:hover {
  color: #FFFFFF;
  background-color: var(--button-color);
  border-color: var(--button-color);
}

/**********BRAND**********/
.brand {
  margin-bottom: 200px;
}

.brand__wrapper {  
  position: relative;
  max-width: 1224px;
  margin: 0 auto;
  padding: 64px 83px 58px 82px;
  background-color: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 25px; 
  overflow: hidden;
}

.brand__ellipse {
  position: absolute;
  left: -105px;
  top: -105px;
  width: 159px;
  height: 159px;  
  background-color: rgba(255, 72, 66, 0.4);
  filter: blur(40px); 
}

.brand__title {
  margin-bottom: 60px;
  font-family: 'poppinsmedium';
  font-size: 24px;    
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.brand__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.brand__item {

}